﻿@model HomeMarket.Models.NhaCungUng


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    
    
    @section header{
        Tạo mới
    }
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">            
                    <div class="ibox-content">
    
    				@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
    
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Ma, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ma)
                    @Html.ValidationMessageFor(model => model.Ma)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Ten, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ten)
                    @Html.ValidationMessageFor(model => model.Ten)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi)
                    @Html.ValidationMessageFor(model => model.DiaChi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.X, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.X)
                    @Html.ValidationMessageFor(model => model.X)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Y, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Y)
                    @Html.ValidationMessageFor(model => model.Y)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
    				@Html.ActionLink("Hủy bỏ", "Index", null, new { @class = "btn btn-danger"})
                </div>
            </div>
        </div>
    }
    
    
                    </div>
                </div>
            </div>
        </div>
     </div>
    
    
</body>
</html>
