﻿@model HomeMarket.Models.NhanDonHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@section header{
    Tạo mới
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DonHangId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonHangId)
                @Html.ValidationMessageFor(model => model.DonHangId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NguoiDiChoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NguoiDiChoId)
                @Html.ValidationMessageFor(model => model.NguoiDiChoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianNhan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThoiGianNhan)
                @Html.ValidationMessageFor(model => model.ThoiGianNhan)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
				@Html.ActionLink("Hủy bỏ", "Index", null, new { @class = "btn btn-danger"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 
