﻿@model HomeMarket.Models.NhanDonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    Xóa
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
				<h4 class="text-danger">Bạn thực sự muốn xóa ?</h4>
				 <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonHangId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHangId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDiChoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDiChoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-danger"})
        </div>
    }



                </div>
            </div>
        </div>
    </div>
 </div>


