﻿@model HomeMarket.Models.NhanDonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@section header{
    Chi tiết
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">              
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonHangId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHangId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDiChoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDiChoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>


	    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-danger"})

                </div>
            </div>
        </div>
    </div>
 </div>













